# Compiled Object files
*.slo
*.lo
*.o
*.exe
*.pdb
*.obj
*.suo
*.sdf

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

Debug/
external/
Networking/Lab-4-NumberGuesssingGame_James-Zinger.zip
